body {
    font-family: 'Poppins', sans-serif;
}

.background-image {
    background-image: url(images/donation11.jpg);
    background-size: 2000px;

}

.tk-amount {
    padding: 50px;
    padding-left: 40%;
    width: 500px
}

.Our-Donate-Plan {
    width: 10px%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    background-color: aqua;
}

h1 {
    font-size: 50px;
}

.flxible-containe {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 500px;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 120%;
}

.link-button {
    text-decoration: none;
    background-color: brown;
    padding: 10px 40px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    background-color: rosybrown;
}

.Adjective {
    padding-left: 45%;
}